<!-- prettier ignore -->
{% extends 'ui/base.html' %}{% load i18n %}

<!-- prettier ignore -->
{% block main %}
<div class="grid h-full w-full grid-cols-12 rounded-box bg-base-100">
  <div class="carousel carousel-vertical h-full w-full col-span-12 rounded-box">
    <div class="carousel-item h-full w-full">
      <section class="flex flex-col gap-8 w-full p-4 overflow-auto lg:p-20">
        <h1
          class="text-5xl font-black tracking-wide lg:text-7xl"
          style="font-family: &quot;Noto Serif&quot;"
        >
          AL Wazeer
        </h1>
        <h2 class="text-xl font-bold lg:text-3xl">
          Your Gateway to AI Conversations
        </h2>

        <p>
          Al-Wazeer is your ultimate AI-powered platform, connecting you with
          advanced open-source language models like Meta Llama, Qwen, and
          Microsoft Phi
        </p>

        <a href="{% url 'al-wazeer:login' %}" class="btn btn-lg btn-primary">
          {% translate 'Try Now' %}
        </a>
      </section>
    </div>
    <div class="carousel-item h-full w-full">
      <section class="flex flex-col gap-8 w-full p-4 overflow-auto lg:p-20">
        <h1
          class="text-5xl font-black tracking-wide lg:text-7xl"
          style="font-family: &quot;Noto Serif&quot;"
        >
          The platform
        </h1>

        <h2 class="text-3xl font-bold lg:text-5xl">What is Al-Wazeer?</h2>

        <p>
          Al-Wazeer is a cutting-edge AI chat platform designed to revolutionize
          how you interact with language models. Whether you're an individual
          seeking intelligent conversations or a business aiming to optimize
          customer engagement, Al-Wazeer has you covered.
        </p>
      </section>
    </div>
    <div class="carousel-item h-full w-full">
      <section
        class="flex flex-col gap-8 justify-around w-full p-4 overflow-auto lg:p-20"
      >
        <h1
          class="text-5xl font-black tracking-wide lg:text-7xl"
          style="font-family: &quot;Noto Serif&quot;"
        >
          Features
        </h1>

        <h2 class="text-xl font-bold lg:text-3xl">
          Unleash the Power of AI with Al-Wazeer
        </h2>

        <ul class="grid gap-4 lg:grid-cols-12">
          <li class="col-span-12 lg:col-span-4">
            <div class="card h-full w-full shadow-sm">
              <figure class="py-16">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-bot-icon lucide-bot size-32"
                >
                  <path d="M12 8V4H8" />
                  <rect width="16" height="12" x="4" y="8" rx="2" />
                  <path d="M2 14h2" />
                  <path d="M20 14h2" />
                  <path d="M15 13v2" />
                  <path d="M9 13v2" />
                </svg>
              </figure>
              <div class="card-body gap-6">
                <div class="flex justify-between">
                  <h2 class="text-3xl font-bold">Diverse AI Models</h2>
                </div>

                <p>
                  Chat seamlessly with multiple leading open-source language
                  models.
                </p>
              </div>
            </div>
          </li>
          <li class="col-span-12 lg:col-span-4">
            <div class="card h-full w-full shadow-sm">
              <figure class="py-16">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-message-square-text-icon lucide-message-square-text size-32"
                >
                  <path
                    d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"
                  />
                  <path d="M13 8H7" />
                  <path d="M17 12H7" />
                </svg>
              </figure>
              <div class="card-body gap-6">
                <div class="flex justify-between">
                  <h2 class="text-3xl font-bold">Accurate Responses</h2>
                </div>

                <p>Get quick, contextually intelligent answers.</p>
              </div>
            </div>
          </li>
          <li class="col-span-12 lg:col-span-4">
            <div class="card h-full w-full shadow-sm">
              <figure class="py-16">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-brain-cog-icon lucide-brain-cog size-32"
                >
                  <path
                    d="M12 5a3 3 0 1 0-5.997.142 4 4 0 0 0-2.526 5.77 4 4 0 0 0 .556 6.588 4 4 0 0 0 7.636 2.106 3.2 3.2 0 0 0 .164-.546c.028-.13.306-.13.335 0a3.2 3.2 0 0 0 .163.546 4 4 0 0 0 7.636-2.106 4 4 0 0 0 .556-6.588 4 4 0 0 0-2.526-5.77A3 3 0 1 0 12 5"
                  />
                  <path d="M17.599 6.5a3 3 0 0 0 .399-1.375" />
                  <path d="M6.003 5.125A3 3 0 0 0 6.401 6.5" />
                  <path d="M3.477 10.896a4 4 0 0 1 .585-.396" />
                  <path d="M19.938 10.5a4 4 0 0 1 .585.396" />
                  <path d="M6 18a4 4 0 0 1-1.967-.516" />
                  <path d="M19.967 17.484A4 4 0 0 1 18 18" />
                  <circle cx="12" cy="12" r="3" />
                  <path d="m15.7 10.4-.9.4" />
                  <path d="m9.2 13.2-.9.4" />
                  <path d="m13.6 15.7-.4-.9" />
                  <path d="m10.8 9.2-.4-.9" />
                  <path d="m15.7 13.5-.9-.4" />
                  <path d="m9.2 10.9-.9-.4" />
                  <path d="m10.5 15.7.4-.9" />
                  <path d="m13.1 9.2.4-.9" />
                </svg>
              </figure>
              <div class="card-body gap-6">
                <div class="flex justify-between">
                  <h2 class="text-3xl font-bold">Customizable Bots</h2>
                </div>

                <p>Tailor AI chatbots to fit your unique needs.</p>
              </div>
            </div>
          </li>
        </ul>
      </section>
    </div>
    <div class="carousel-item h-full w-full">
      <section
        class="flex flex-col gap-8 justify-around w-full p-4 overflow-auto lg:p-20"
      >
        <h1
          class="text-5xl font-black tracking-wide lg:text-7xl"
          style="font-family: &quot;Noto Serif&quot;"
        >
          Use cases
        </h1>

        <h2 class="text-xl font-bold lg:text-3xl">
          Who Can Benefit from Al-Wazeer?
        </h2>

        <ul class="grid gap-4 lg:grid-cols-12">
          <li class="col-span-12 lg:col-span-4">
            <div class="card h-full w-full shadow-sm">
              <div class="card-body gap-6">
                <figure class="py-16">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-building2-icon lucide-building-2 size-32"
                  >
                    <path d="M6 22V4a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v18Z" />
                    <path d="M6 12H4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h2" />
                    <path d="M18 9h2a2 2 0 0 1 2 2v9a2 2 0 0 1-2 2h-2" />
                    <path d="M10 6h4" />
                    <path d="M10 10h4" />
                    <path d="M10 14h4" />
                    <path d="M10 18h4" />
                  </svg>
                </figure>

                <div class="flex justify-between">
                  <h2 class="text-3xl font-bold">Businesses</h2>
                </div>

                <div>
                  <p>
                    Enhance customer service with AI-powered chat solutions.
                  </p>
                </div>
              </div>
            </div>
          </li>
          <li class="col-span-12 lg:col-span-4">
            <div class="card h-full w-full shadow-sm">
              <div class="card-body gap-6">
                <figure class="py-16">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-user-icon lucide-user size-32"
                  >
                    <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2" />
                    <circle cx="12" cy="7" r="4" />
                  </svg>
                </figure>

                <div class="flex justify-between">
                  <h2 class="text-3xl font-bold">Individuals</h2>
                </div>

                <div>
                  <p>Access precise, real-time information anytime.</p>
                </div>
              </div>
            </div>
          </li>
          <li class="col-span-12 lg:col-span-4">
            <div class="card h-full w-full shadow-sm">
              <div class="card-body gap-6">
                <figure class="py-16">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-code-icon lucide-code size-32"
                  >
                    <polyline points="16 18 22 12 16 6" />
                    <polyline points="8 6 2 12 8 18" />
                  </svg>
                </figure>
                <div class="flex justify-between">
                  <h2 class="text-3xl font-bold">Developers</h2>
                </div>

                <div>
                  <p>
                    Leverage the platform for projects requiring advanced AI
                    models.
                  </p>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </section>
    </div>
    <div class="carousel-item h-full w-full">
      <section class="flex flex-col gap-8 w-full p-4 overflow-auto lg:p-20">
        <h1
          class="text-5xl font-black tracking-wide lg:text-7xl"
          style="font-family: &quot;Noto Serif&quot;"
        >
          Stay Connected
        </h1>

        <p class="text-xl">
          Follow us on social media and stay updated. Subscribe for news, tips,
          and exclusive offers!
        </p>
      </section>
    </div>
  </div>
</div>
{% endblock %}
