<!-- prettier ignore -->
{% extends "registration/base.html" %}{% load i18n %}

<!-- prettier ignore -->
{% block title %}{{ block.super }} | {% translate 'Login' %}{% endblock %}

<!-- prettier ignore -->
{% block main %}
<section
  class="flex h-full w-full items-center justify-center rounded-box bg-base-100 lg:p-40"
>
  <div class="card gap-4 mx-2 max-w-md w-full rounded-box bg-base-200">
    <div class="card-body">
      <h1 class="text-3xl font-black">
        {% translate 'Login to' %}
        <span class="text-primary">{% translate 'Al-Wazeer' %}</span>
      </h1>

      <p>{% translate 'Welcome, please login to continue.' %}</p>

      <!-- prettier ignore -->
      {% if form.errors %}
      <p>
        <!-- prettier ignore -->
        {% translate 'Your username and password did not match. Please try
        again.' %}
      </p>
      <!-- prettier ignore -->
      {% endif %}
      <!-- prettier ignore -->
      {% if next %}
      <!-- prettier ignore -->
      {% if user.is_authenticated %}
      <p>
        <!-- prettier ignore -->
        {% blocktranslate %} Your account doesn't have access to this page. To
        proceed, please login with an account that has access.
        <!-- prettier ignore -->
        {% endblocktranslate %}
      </p>

      <!-- prettier ignore -->
      {% else %}
      <p>{% translate 'Please login to see this page.' %}</p>
      <!-- prettier ignore -->
      {% endif %}
      <!-- prettier ignore -->
      {% endif %}

      <!-- prettier ignore -->
      {% include 'ui/components/form.html' %}

      <p>
        <a href="{% url 'al-wazeer:signup' %}" class="btn btn-ghost">
          {% translate 'Do not have an account?' %}
        </a>
        <a href="{% url 'al-wazeer:password_reset' %}" class="btn btn-ghost">
          {% translate 'Lost password?' %}
        </a>
      </p>
    </div>
  </div>
</section>
{% endblock %}
