{% extends "registration/base.html" %}

{% load i18n %}

{% block title %}{{ block.super }} | {% translate 'Password Change' %}{% endblock %}

{% block sidebar_styles %} hidden lg:block{% endblock %}
{% block content_styles %}{% endblock %}

{% block breadcrumbs %}
<li>{% translate 'Password' %}</li>
<li>{% translate 'Change' %}</li>
{% endblock %}

{% block main_content %}
<section class="grid gap-8">
  <h1 class="text-3xl font-black">{% translate 'Change password' %}</h1>
  
  <p>
    {% translate "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}
  </p>
  
  {% include 'ui/components/form.html' %}
</section>
{% endblock %}