{% extends "registration/base.html" %}

{% load i18n %}

{% block title %}{{ block.super }} | {% translate 'Password Changed' %}{% endblock %}

{% block sidebar_styles %} hidden lg:block{% endblock %}
{% block content_styles %}{% endblock %}

{% block breadcrumbs %}
<li>{% translate 'Password' %}</li>
<li>
  <a href="{% url 'al-wazeer:password_change' %}">
    {% translate 'Change' %}
  </a>
</li>
<li>{% translate 'Done' %}</li>
{% endblock %}

{% block main_content %}
<div class="grid gap-4">
  <h1 class="text-3xl font-semibold">{% translate 'Congrats' %}</h1>

  <p>{% translate 'Your password was changed.' %}</p>
</div>
{% endblock %}