<!-- prettier ignore -->
{% extends "registration/base.html" %}{% load i18n %}

<!-- prettier ignore -->
{% block title %}{{ block.super }} | {% translate 'Password Changed' %}{%
endblock %}

<!-- prettier ignore -->
{% block sidebar_styles %} hidden lg:block{% endblock %}

<!-- prettier ignore -->
{% block content_styles %}{% endblock %}

<!-- prettier ignore -->
{% block breadcrumbs %}
<li>{% translate 'Password' %}</li>
<li>
  <a href="{% url 'al-wazeer:password_change' %}">{% translate 'Change' %}</a>
</li>
<li>{% translate 'Done' %}</li>
{% endblock %}

<!-- prettier ignore -->
{% block main_content %}
<div class="grid gap-4">
  <h1 class="text-3xl font-semibold">{% translate 'Congrats' %}</h1>

  <p>{% translate 'Your password was changed.' %}</p>
</div>
{% endblock %}
