<!-- prettier ignore -->
{% extends 'ui/base.html' %}{% load i18n %}

<!-- prettier ignore -->
{% block title %}{{ block.super }} | {% translate 'Chats' %}{% endblock %}

<!-- prettier ignore -->
{% block content_styles %} hidden lg:block{% endblock %}

<!-- prettier ignore -->
{% block sidebar %}
<section class="relative flex h-full flex-col gap-6 rounded-box">
  <header class="absolute inset-x-0 top-0 z-10">
    <nav
      class="flex items-center justify-between p-4 gap-4 backdrop-blur-3xl rounded-box"
    >
      <h1 class="text-xl font-semibold">{% translate 'Chats' %}</h1>

      <div class="tooltip tooltip-bottom tooltip-primary" data-tip="New chat">
        <a
          href="{% url 'al-wazeer:create-chat' %}"
          class="btn btn-square btn-sm btn-primary btn-soft"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide size-4 lg:size-6 lucide-plus"
          >
            <path d="M5 12h14" />
            <path d="M12 5v14" />
          </svg>

          <span class="sr-only">{% translate 'New Chat' %}</span>
        </a>
      </div>
    </nav>
  </header>

  <main
    class="grid grow gap-4 h-full w-full p-4 pt-20 max-h-dvh overflow-y-auto"
  >
    <ul class="list w-full rounded-box bg-base-200">
      <!-- prettier ignore -->
      {% for chat in request.user.chats.all %}
      <li class="relative list-row items-center">
        <div>
          <!-- prettier ignore -->
          {% if chat.assistant.image %}
          <img
            class="size-10 rounded-box"
            src="https://img.daisyui.com/images/profile/demo/1@94.webp"
          />
          <!-- prettier ignore -->
          {% else %}
          <div class="avatar avatar-placeholder">
            <div
              class="w-10 rounded-full {% cycle 'bg-primary text-primary-content' 'bg-secondary text-secondary-content' 'bg-accent text-accent-content' 'bg-success text-success-content' 'bg-warning text-warning-content' 'bg-error text-error-content' 'bg-neutral text-neutral-content' %}"
            >
              <span class="text-xl">{{ chat.assistant.name|slice:'0:1' }}</span>
            </div>
          </div>
          <!-- prettier ignore -->
          {% endif %}
        </div>
        <div>
          <div>{{ chat.title }}</div>
          <div class="text-xs font-semibold uppercase opacity-60">
            {{ chat.assistant }}
          </div>
        </div>
        <div class="tooltip tooltip-left" data-tip="{% translate 'View' %}">
          <button class="btn btn-square btn-ghost">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide size-4 lg:size-6 lucide-chevron-right"
            >
              <path d="m9 18 6-6-6-6" />
            </svg>

            <span class="sr-only">{% translate 'View' %}</span>
          </button>
        </div>
        <a
          href="{% url 'al-wazeer:view-chat' chat.id %}"
          class="absolute inset-0"
        >
          <span class="sr-only">{% translate 'Chat' %}</span>
        </a>
      </li>
      {% empty %}
      <li class="list-row items-center">
        <div class="tooltip tooltip-right" data-tip="New chat">
          <a
            href="{% url 'al-wazeer:create-chat' %}"
            class="btn btn-square btn-primary"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide size-4 lg:size-6 lucide-plus"
            >
              <path d="M5 12h14" />
              <path d="M12 5v14" />
            </svg>

            <span class="sr-only">New chat</span>
          </a>
        </div>
        <div>
          <h3>No Chats</h3>
          <p class="text-xs font-semibold opacity-60">
            It looks like you do not have any chats
          </p>
        </div>
      </li>
      <!-- prettier ignore -->
      {% endfor %}
    </ul>
  </main>
</section>
{% endblock %}

<!-- prettier ignore -->
{% block content %}
<section class="h-full w-full p-4">
  <div>
    <!-- prettier ignore -->
    {% include 'ui/components/messages.html' %}
  </div>

  <div class="flex flex-col items-center justify-center gap-8 h-full w-full">
    <h1 class="text-3xl font-semibold">
      {% translate 'Welcome' %} {{ request.user }}
    </h1>
    <p class="max-w-md text-center">
      {% translate 'Your AI assistant is here.' %}
    </p>
    <a href="{% url 'al-wazeer:create-chat' %}" class="btn btn-primary">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide size-4 lg:size-6 lucide-plus"
      >
        <path d="M5 12h14"></path>
        <path d="M12 5v14"></path>
      </svg>

      {% translate 'New' %}
    </a>
  </div>
</section>
{% endblock %}
