<!-- prettier ignore -->
{% extends 'ui/chat/base.html' %}{% load i18n %}

<!-- prettier ignore -->
{% block title %} {{ block.super }} | {{ title }}{% endblock %}

<!-- prettier ignore -->
{% block sidebar_styles %} hidden lg:block{% endblock %}

<!-- prettier ignore -->
{% block content_styles %}{% endblock %}

<!-- prettier ignore -->
{% block content %}
<section class="relative grid h-full w-full grid-rows-12 gap-4">
  <header class="absolute inset-x-0 top-0 z-10">
    <nav
      class="flex items-center justify-between p-4 gap-4 backdrop-blur-3xl rounded-box"
    >
      <h1 class="text-lg font-semibold">{{ title }}</h1>
    </nav>
  </header>

  <main
    class="row-span-12 flex h-full flex-col gap-4 overflow-y-auto px-4 pt-16"
  >
    <div class="grid gap-4 lg:px-32">
      <!-- prettier ignore -->
      {% include 'ui/components/form.html' %}
    </div>
  </main>
</section>

{% endblock %}
