{% extends 'ui/chat/base.html' %}

{% load i18n %}

{% block title %} {{ block.super }} | {{ title }}{% endblock %}

{% block sidebar_styles %} hidden lg:block{% endblock %}
{% block content_styles %}{% endblock %}

{% block content %}
<section class="relative grid h-full w-full grid-rows-12 gap-4">
  <header class="absolute inset-x-0 top-0 z-10">
    <nav class="flex items-center justify-between p-4 gap-4 backdrop-blur-3xl rounded-t-box">
      <div class="flex items-center gap-4">
        <div class="tooltip tooltip-right" data-tip="Back">
          <a href="{% url 'al-wazeer:chats' %}" class="btn btn-square btn-ghost">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="lucide lucide-chevron-left">
              <path d="m15 18-6-6 6-6" />
            </svg>

            <span class="sr-only">{% translate 'Back' %}</span>
          </a>
        </div>

        <h1 class="text-lg font-semibold">{{ title }}</h1>
      </div>
    </nav>
  </header>

  <main class="row-span-12 flex h-full flex-col gap-4 overflow-y-auto px-4 pt-16">
    <div class="grid gap-4 lg:px-32">
      {% include 'ui/components/form.html' %}
    </div>
  </main>
</section>

{% endblock %}